*~
*.elc
*.[oa]
*.swp
*.a
*.so
*.out
*.exe
system/
*.dat$
auto-save-list/
.saves*
var/
*.hg/
*.git/
*.py
*.pl
.authinfo.gpg
.#*
swank/
TAGS
semanticdb/
url/
lisp/
tramp
lisp
eshell/
.org-id-locations
.cask/
flycheck_*
log/
.cache/
/init.el
/Cask
/init.html
/init.el.html
/.litable-lists.el
