*~
*.elc
*.[oa]
*.swp
*.a
*.so
*.out
*.exe
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
system/
*.dat$
auto-save-list/
.saves*
var/
*.hg/
*.git/
*.py
*.pl
.authinfo.gpg
.#*
swank/
cache/
cache
backup/
backup
TAGS
semanticdb/
config/coldnew-emacs.el*
themes/coldnew-night-theme.el
config.el
log/
log
url/
lisp/
tramp
custom.el
lisp
eshell/
.org-id-locations
