[submodule "lisp/fuzzy"]
	path = lisp/fuzzy
	url = http://github.com/m2ym/fuzzy-el.git
[submodule "lisp/popup"]
	path = lisp/popup
	url = http://github.com/m2ym/popup-el.git
[submodule "lisp/rainbow-delimiters"]
	path = lisp/rainbow-delimiters
	url = http://github.com/jlr/rainbow-delimiters.git
